PRODUCT_NAME = $(PROJECT_NAME)
PRODUCT_VERSION = 6.0.4
DSTROOT = $(SRCROOT)
HEADER_SEARCH_PATHS = /Library/Frameworks/MaxSDK-6.0.4/c74support/max-includes/
INSTALL_PATH = /../Max/
GCC_PREFIX_HEADER = macho-prefix.pch
INFOPLIST_FILE = $(SRCROOT)/Info.plist
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET = 10.4
WRAPPER_EXTENSION = mxo;
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas -Wall
DEPLOYMENT_LOCATION = YES
GENERATE_PKGINFO_FILE = YES
GCC_PREPROCESSOR_DEFINITIONS = "DENORM_WANT_FIX = 1"
